# ====================================
# NinjaTrader default scripts
# ====================================
**/@*.cs

# ====================================
# Build artifacts / temp
# ====================================
**/bin/
**/obj/
*.dll
*.pdb

# ====================================
# NT / editor noise
# ====================================
*.log
*.tmp
*.user
.vs/
.idea/

# ====================================
# OS junk
# ====================================
Thumbs.db
.DS_Store
